<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @user.first_name %>!</h1>
    <p>
      You have successfully completed your order <%= @order.id%> <br>
    </p>
    <br>
    <p>
      To view your order details, just follow this link: <%= @url %>.
    </p>
