<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello!</h1>
    <p>
      You have successfully completed your order #<%= @order.id %> <br>
    </p>
    <br>
    <p>
      To view your order details, just follow this link: <%= @url %>.
    </p>
    <div class="panel panel-default items">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="2">Products</th>
          <th>Unit Price</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
      <% @order_total = 0 %>
          <% @order.line_items.each do |line_item| %>
          <%= render 'item', product_id: line_item.product_id, quantity: line_item.quantity %>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="4">
            TOTAL:
          </th>
          <th>
          <%= number_to_currency(@order_total) %>
          </th>
        </tr>
      </tfoot>
    </table>
  </div>
    <p>Thanks for buying and have a great day!</p>
  </body>
</html>