

<section class="order-show">

  <header class="page-header">
    <h1>Order #<%= @order.id%> Completed!</h1>
    <% if current_user %>
     ordered by: <%= current_user.email %>
     <%else%>
     You were not not logged in. I hope you provided some kind of adress. Either way, I can assure you someone will
     benefit from your donation!
    <% end %>
  </header>

  <div class="panel panel-default items">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="2">Products</th>
          <th>Unit Price</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
      <% @order_total = 0 %>
          <% @line_items.each do |line_item| %>
          <%= render 'item', product_id: line_item.product_id, quantity: line_item.quantity, item_price:
          line_item.item_price%>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="4">
            TOTAL:
          </th>
          <th>
          <%= number_to_currency(@order_total) %>
          </th>
        </tr>
      </tfoot>
    </table>
  </div>

</section>





