<div class="row user-review">
  <div class="col-md-3 user-name">
    <strong><%= User.find(comment.user_id).first_name %></strong>
  </div>
  <div class="col-md-1 user-rating">
    <strong>Rating: <%= comment.rating %></strong>
  </div>
  <% if current_user == User.find(comment.user_id) %>
  <div class="col-md-8 delete-button">
  <%= link_to "/products/#{@product.id}/comments/#{comment.id}", class: 'glyphicon glyphicon-remove-sign', style: "color: red",  method: :delete do %>
    <% end %>
  </div>
  <% else %>
  <div class="col-md-8 delete-button">
  </div>
  <% end %>
  <content class="col-md-12 user-comment">
  <%= comment.description %>
  </content>
</div>